body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-reglas {
    background: #76caeb;
    padding: 2rem 4rem;
    display: flex;
}

.container {
    display: block;
    margin-right: 10rem;
}


button {
    background: #e97bda;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px dashed #f53cdc;
}